*.html
*.pdf
*.redxml
*.swp
*.upload
*~
draft*.txt
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-davis-ivy-generalized-capability-principles-latest.xml
package-lock.json
report.xml
!requirements.txt
